.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; 
  background-color: #f7f7f7;
  padding: 20px;
  flex-direction: column;
  gap: 20px; 
}


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
 
  max-width: 1200px;
  flex-wrap: wrap; 
}


form {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  flex: 1 -2;
  min-width: 300px; 
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  color: #333;
}


.wholeform {
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  color: #555;
  text-align: left;
  display: block;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
  margin-top: 5px;
}


.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}


.signup-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
